/*
  You've played with HTML, now try tinkering with the look of your page. 
  To do that, you'll need to edit the "CSS," which stands for Cascading Style Sheets.
  Let's start by changing the color, below.
  */
body {
  background-color: black;
}

/*
    You can also change the size of the margins, text and image.
    */
#content {
  margin: 0 auto;
}

#meme {
  position: relative;
  margin: 0 auto;
}

#meme,
img {
  width: 660px;
}

h1,
h2 {
  position: relative;
  z-index: 100;
  text-align: center;
  margin: 0 auto;
  text-shadow: 4px 5px 0 #000;
  filter: dropshadow(color=#000000, offx=5, offy=5);
}

/*
    You can change the position of the headings by adjusting the numbers in the "padding-top" attribute. Here they are listed as "px," which stands for pixels. 
    */
h1 {
  color: #00ffff;
  font-family: Impact;
  font-size: 118px;
  padding-top: -20px;
}

h2 {
  color: #fff;
  font-family: Impact;
  font-size: 60px;
  padding-top: 740px;
}

img {
  border: 10px solid #000;
  margin: 150px auto;
  position: absolute;
}
